  <div class="grid" [dir]="'dir'|translate">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-1 p-2">
                <div class="p-toolbar-group-left">
                    <p-button [label]="'new'|translate" icon="pi pi-plus" (click)="showAddDialog()"></p-button>
                </div>
            </p-toolbar>
            <smart-table [title]="'users'|translate" [filters]="filterUsers" (deleteClicked)="deleteUser($event)"
            (editClicked)="showEditDialog($event)" [columns]="tableCols" [data]="usersList$|async">
         </smart-table>
        </div>
    </div>
  </div>
  <p-toast></p-toast>
  