<div class="grid main-section mb-5" [dir]="'dir'|translate">
  <div class="md:col-2 sm:col-2">
    <div class="profile-img text-center py-2">
      <img src="assets/images/img.jpg" class="justify-content-center" alt="" width="150" height="150">
    </div>
  </div>

  <div class="md:col-10">
    <div class="setting py-2">
      <div class="add-btn flex flex-row-reverse mb-5">
        <button pButton type="button" class="p-button-warning" icon="pi pi-plus-circle" [label]="'edit'|translate"
          (click)="editProfileClient()">
        </button>
      </div>

      <div class="grid">
        <div class="md:col-3 sm:col-4 xs:col-6">
          <div class="user-details">
            <i class="pi pi-map-marker"></i>
            <span>{{"name"|translate}} : </span>{{clientInfo.client_name}}
          </div>
        </div>

        <div class="md:col-3 sm:col-4 xs:col-6">
          <div class="user-details">
            <i class="pi pi-phone"></i>
            <span>{{"mobile"|translate}} :</span>{{clientInfo.mobile}}
          </div>
        </div>

        <div class="md:col-3 sm:col-4 xs:col-6">
          <div class="user-details">
            <i class="pi pi-inbox"></i>
            <span>{{"email"|translate}} : </span>{{ clientInfo.email }}
          </div>
        </div>

        <div class="md:col-3 sm:col-4 xs:col-6">
          <div class="user-details">
            <i class="pi pi-map-marker"></i>
            <span>{{"location"|translate}} : </span>{{ clientInfo.area }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid" [dir]="'dir'|translate">
  <div class="col-12">
    <div class="more-detils">
      <p-tabView>
        <p-tabPanel header="Store" leftIcon="pi pi-building" class="w-100">
            <!-- table store -->
            <div class="add-btn mb-3 flex flex-row-reverse">
              <button pButton type="button" class="p-button-warning" icon="pi pi-plus-circle" label="Add Store Name"
                (click)="addStoreDialog()">
              </button>
            </div>
            <smart-table [title]="'list_of_store'|translate" [filters]="filiterStore" (editClicked)="editClientStore($event)" (deleteClicked)="deleteStore($event)" [columns]="colsStore"
              [data]="storeList$ |async">
            </smart-table>
        </p-tabPanel>

        <p-tabPanel header="Branches" leftIcon="pi pi-map-marker">
            <!-- table branches -->
            <div class="add-btn mb-3 flex flex-row-reverse">
              <button pButton type="button" class="p-button-warning" icon="pi pi-plus-circle" label="Add Branches Details"
                (click)="addBranchesDialog()">
              </button>
            </div>
            <smart-table [title]="'list_of_branches'|translate" [filters]="filiterBranches" (editClicked)="editClientBranch($event)" (deleteClicked)="deleteBranch($event)" [columns]="colsLocation"
              [data]="branchList$ |async">
            </smart-table>
        </p-tabPanel>

        <p-tabPanel header="Device" leftIcon="pi pi-print">
          <!-- Table Device -->
          <div class="add-btn mb-3 flex flex-row-reverse">
            <button pButton type="button" class="p-button-warning" icon="pi pi-plus-circle" label="Add Device Details"
              (click)="addDeviceDialog()">
            </button>
          </div>
          <smart-table [title]="'list_of_devices'|translate" [filters]="filiterDevice" (deleteClicked)="deleteDevice($event)" (editClicked)="editClientDevice($event)" [columns]="colsDevice"
            [data]="deviceList$ |async">
          </smart-table>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>


</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
