<form [formGroup]="supplierForm" (submit)="submitAdd(supplierForm.value)" [dir]="'dir'|translate">
    <div class="container-fluid">
        <div class="grid p-fluid">

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'name'|translate}}</label>
                <small class="ng-dirty ng-invalid p-error"
                    *ngIf="vf['name'].errors && vf['name'].errors['required']"><span>&nbsp;*</span>
                </small>
                <input pInputText type="text" class="p-inputtext-md" formControlName="name">
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'mobile'|translate}}</label>
                <input pInputText type="text" class="p-inputtext-md" formControlName="mobile">
            </div>

            <div class="col-12">
                <label class="model-label model-label-form">{{'branches'|translate}}</label>
                <small class="p-error"
                    *ngIf="vf['branches'].errors && vf['branches'].errors['required']"><span>&nbsp;*</span>
                </small>
                <p-multiSelect appendTo="body"  formControlName="branches"
                    defaultLabel="{{'select_branches'|translate}}" display="chip" optionLabel="name" optionValue="id">
                </p-multiSelect>
            </div>
            
            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'email'|translate}}</label>
                <small class="ng-dirty ng-invalid p-error"
                    *ngIf="vf['email'].errors && vf['email'].errors['email']"><span>$&nbsp;*</span>
                </small>
                <input pInputText type="text" class="p-inputtext-md" formControlName="email">
            </div>


            <div class="field col-12 md:col-6">
                <label>{{"discount_type"|translate}}</label>
                <p-selectButton [options]=""   optionLabel="label" optionValue="value" formControlName="discount_type"></p-selectButton>
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'discount_value'|translate}}</label>
                <p-inputNumber inputId="minmaxfraction" mode="decimal" [minFractionDigits]="3" [maxFractionDigits]="5"
                    formControlName="discount_value">
                </p-inputNumber>
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'balance'|translate}}</label>
                <p-inputNumber inputId="minmaxfraction" mode="decimal" [minFractionDigits]="3" [maxFractionDigits]="5"
                    formControlName="balance">
                </p-inputNumber>
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form">{{'reference_number'|translate}}</label>
                <input pInputText type="text" class="p-inputtext-md" formControlName="reference_number">
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form" for="address">{{'address'|translate}}</label>
                <textarea [rows]="1" [cols]="50" id="address" formControlName="address" pInputTextarea></textarea>
            </div>

            <div class="col-12 md:col-6">
                <label class="model-label model-label-form" for="notes">{{'notes'|translate}}</label>
                <textarea [rows]="1" [cols]="50" id="notes" formControlName="notes" pInputTextarea></textarea>
            </div>


        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-12 flex justify-content-end">
                <div class="absolute bottom-0 p-3">
                    <p-button [label]="'save'|translate" [disabled]="supplierForm.invalid" type="submit"
                        icon="pi pi-save" styleClass="p-button-success">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</form>