<div class="layout-footer">
    <div class="bg-danger">
        <img src="../assets/images/last-06.png"/>
        <!-- <h3><strong>POS</strong></h3> -->
        <p>The Next Big Thing</p>
    </div>
    <div class="footer-icons">
        <button class="p-link">
            <i class="pi pi-home"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-globe"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button>
    </div>
</div>