.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.profile-info {
  span {
    vertical-align: middle;
    font-weight: 500;
    color: #0f97c7;
  }

  .info-content {
    font-weight: 400;
    color: #000;
  }

  i {
    font-size: 17px;
    margin-right: 0.25em;
    vertical-align: middle;
    color: #0f97c7;
  }
}

.profile-totals {
  span {
    vertical-align: middle;
    font-weight: 500;
    color: #0f97c7;
  }
  i {
    font-size: 17px;
    margin-right: 0.25em;
    vertical-align: middle;
    color: #0f97c7;
  }

  .profile-totals-content {
    font-weight: 400;
    color: #000;
  }

  border: #0f97c7 2px solid;
}
