<div class="card">
    <div class="grid">
        <div class="item_profile">
            AM
        </div>
        <div class="col-12 md:col-12 p-0">
            <div class="alignleft pl-2">
                <h3 class="m-0 ml-2">Ali Mohmmad Alssadi</h3>
            </div>
            <div class="alignright pr-2">
                <button class="p-button-rounded mr-2" pButton type="button" (click)="menu.toggle($event)"
                    icon="pi pi-pencil"></button>
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-tabView>
                <p-tabPanel header="Information">
                    <div class="grid">
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Name : </span>
                            <span class="info-content">Zaid Z. Aldissi</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Group : </span>
                            <span class="info-content">Admin</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Email : </span>
                            <span class="info-content">Zaid@gmail.com</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Code : </span>
                            <span class="info-content">45654456</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Commission : </span>
                            <span class="info-content">13%</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Address : </span>
                            <span class="info-content">Amman - Jordan</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Notes : </span>
                            <span class="info-content">No Notes Right Now</span>
                        </div>
                        <div class="profile-info col-12 md:col-6">
                            <i class="pi pi-info"></i>
                            <span>Branches : </span>
                            <span class="info-content">Amman-Abdoun , Irbid</span>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Permissions">
                    <ng-template pTemplate="content">
                        Complex Content to Lazy Load
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Transactions">
                    <ng-template pTemplate="content">
                        Complex Content to Lazy Load
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Actions">
                    <ng-template pTemplate="content">
                        <div class="timeline">
                            <ul>
                                <li>
                                    <i class="pi pi-image"></i>
                                    <span class="timeline-event-title">Uploaded Images</span>
                                    <span class="timeline-event-time">15m</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <div class="grid">
                                        <div class="col-6">
                                            <img src="assets/layout/images/dashboard/image-1.jpg" alt="">
                                        </div>
                                        <div class="col-6">
                                            <img src="assets/layout/images/dashboard/image-2.jpg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="pi pi-star"></i>
                                    <span class="timeline-event-title">Favorites</span>
                                    <span class="timeline-event-time">1h</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                                <li>
                                    <i class="pi pi-users"></i>
                                    <span class="timeline-event-title">Meeting</span>
                                    <span class="timeline-event-time">2h</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                                <li>
                                    <i class="pi pi-money-bill"></i>
                                    <span class="timeline-event-title">Payment Received</span>
                                    <span class="timeline-event-time">3h</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>