<form [formGroup]="expenseTypeForm" (submit)="submitAdd(expenseTypeForm.value)" [dir]="'dir'|translate">
    <div class="container-fluid">
        <div class="grid p-fluid">

            <div class="col-12 md:col-12">
                <label class="model-label model-label-form">{{'type'|translate}}</label>
                <small class="ng-dirty ng-invalid p-error"
                *ngIf="vf['type'].errors && vf['type'].errors['required']"><span>&nbsp;*</span></small>
                <p-selectButton [options]="" optionLabel="label" optionValue="value"
                    formControlName="type"></p-selectButton>
            </div>

            <div class="col-12 md:col-12">
                <label class="model-label model-label-form">{{'name'|translate}}</label>
                <small class="ng-dirty ng-invalid p-error"
                *ngIf="vf['name'].errors && vf['name'].errors['required']"><span>&nbsp;*</span></small>
                <input pInputText type="text" class="p-inputtext-md" formControlName="name">
            </div>
            <!-- <div class="col-12">
                <label class="model-label model-label-form">{{'branches'|translate}}</label>
                <small class="p-error"
                *ngIf="vf['branches'].errors && vf['branches'].errors['required']"><span>&nbsp;*</span></small>
                <p-multiSelect  appendTo="body"  formControlName="branches" defaultLabel="{{'select_branches'|translate}}"
                  display="chip"  optionLabel="name" optionValue="id">
                </p-multiSelect>
              </div> -->
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-12 flex justify-content-end">
                <div class="absolute bottom-0 p-3">
                    <p-button [label]="'save'|translate" [disabled]="expenseTypeForm.invalid" type="submit"
                        icon="pi pi-save" styleClass="p-button-success">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</form>