<p-overlayPanel
  #reportsFilter
  [showCloseIcon]="true"
  [style]="{ width: '75%' }">
  <ng-template pTemplate>
    <form [formGroup]="filterForm">
      <div class="container-fluid mt-2">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Clients</label>
            <p-multiSelect
              appendTo="body"
              formControlName="clients"
              [defaultLabel]="'Clients'"
              display="chip"
              optionLabel="client_name"
              [options]="clientsList$ | async"
              optionValue="id">
            </p-multiSelect>
          </div>

          <div class="field col-12 md:col-4">
            <label class="model-label model-label-form">Business Type</label>
            <p-multiSelect
              [options]="allBusinessTypes$ | async"
              [defaultLabel]="'Business type'"
              optionLabel="name"
              optionValue="id"
              formControlName="businessType">
            </p-multiSelect>
          </div>

          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Tag</label>
            <p-multiSelect
              appendTo="body"
              formControlName="tag"
              [defaultLabel]="'Tag'"
              optionLabel="name"
              display="chip"
              [options]="allMainTags$ | async"
              optionValue="id">
            </p-multiSelect>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Sub Tag</label>
            <p-multiSelect
              appendTo="body"
              formControlName="subTag"
              [defaultLabel]="'Sub Tag'"
              [options]="subTags$ | async"
              optionLabel="name"
              optionValue="id">
            </p-multiSelect>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Plan</label>
            <p-multiSelect
              appendTo="body"
              formControlName="plan"
              [defaultLabel]="'Plans'"
              display="chip"
              optionLabel="plan_name"
              [options]="allPlans$ | async"
              optionValue="id">
            </p-multiSelect>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Country</label>
            <p-multiSelect
              formControlName="country"
              [options]="allCounties$ | async"
              [placeholder]="'Country'"
              optionLabel="name"
              optionValue="id">
            </p-multiSelect>
          </div>

          <div class="col-12 md:col-4">
            <label class="model-label model-label-form"
              >Subscription Type</label
            >
            <p-dropdown
              formControlName="subscriptionType"
              [options]="subscription"
              [placeholder]="'Subscription Type'"
              optionLabel="">
            </p-dropdown>
          </div>

          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Creation Date</label>
            <p-calendar
              [showTime]="true"
              [showSeconds]="true"
              appendTo="body"
              formControlName="creationDate"
              class="mr-1"
              dateFormat="yy-mm-dd"
              styleClass="{'width':'100%'}"
              placeholder="Creation Date">
            </p-calendar>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Activation Date</label>
            <p-calendar
              appendTo="body"
              [showTime]="true"
              [showSeconds]="true"
              formControlName="activationDate"
              dateFormat="yy-mm-dd"
              class="mr-1"
              styleClass="{'width':'100%'}"
              placeholder="Activation Date">
            </p-calendar>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Expiry Date</label>
            <p-calendar
              appendTo="body"
              [showTime]="true"
              [showSeconds]="true"
              formControlName="expiryDate"
              dateFormat="yy-mm-dd"
              class="mr-1"
              styleClass="{'width':'100%'}"
              placeholder="Expiry Date">
            </p-calendar>
          </div>
          <div class="col-12 md:col-4">
            <label class="model-label model-label-form">Code</label>
            <input
              pInputText
              type="text"
              formControlName="code"
              placeholder="Code" />
          </div>
        </div>
      </div>
      <div class="grid p-fluid mb-2 mt-2">
        <div class="col-12 md:col-12 flex justify-content-center">
          <div class="absolute bottom-0 p-2">
            <span class="p-buttonset">
              <p-button
                icon="pi pi-times"
                (onClick)="resetFrom(); reportsFilter.hide()"
                styleClass="p-button-danger"
                [label]="'Reset'">
              </p-button>
              <p-button
                [label]="'Filter'"
                (onClick)="submit(filterForm.value); reportsFilter.hide()"
                type="button"
                icon="pi pi-filter"
                styleClass="p-button-primary">
              </p-button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>

<div class="grid">
  <div class="col-12">
    <p-toolbar styleClass="mb-1 p-2">
      <div class="p-toolbar-group-left">
        <button
          pButton
          pRipple
          type="button"
          [label]="'Filter'"
          icon="pi pi-search"
          class=""
          (click)="reportsFilter.toggle($event)"></button>
      </div>
    </p-toolbar>
    <div class="card">
      <!-- <smart-table [data]="clientsList$|async" [columns]="tableCols" [title]="tableTitle"></smart-table> -->
      <p-table
        #dt
        [value]="clientsDetails$ | async"
        dataKey="client.id"
        [resizableColumns]="true"
        [autoLayout]="true"
        styleClass="p-datatable-sm p-datatable-striped"
        [scrollable]="true"
        scrollHeight="500px">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <ng-container>{{ tableTitle }}</ng-container>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let columns>
          <tr>
            <th *ngFor="let col of tableCols">{{ col.header }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded">
          <tr>
            <td>{{ rowData.client?.id }}</td>
            <td>{{ rowData.client?.client_name }}</td>
            <td>{{ rowData.client?.mobile }}</td>
            <td>{{ rowData.client?.email }}</td>
            <td class="has-span">
              <span *ngFor="let store of rowData.client.stores">{{
                store.store_name
              }}</span>
            </td>
            <td class="has-span">
              <span *ngFor="let store of rowData.client.stores">{{
                store.code
              }}</span>
            </td>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="rowData"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="
                  expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                "></button>
            </td>
            <td>{{ rowData.branchesNumber }}</td>
            <td>{{ rowData.deviceNumber }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData>
          <tr>
            <td colspan="14">
              <div class="">
                <p-table [value]="rowData.client.stores" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Branch Name</th>
                      <th>Devices Number</th>
                      <th>Creation Date</th>
                      <th>Activation Date</th>
                      <th>Expiration Date</th>
                      <th>Tag</th>
                      <th>Sub Tag</th>
                      <th>Business type</th>
                      <th>Plan</th>
                      <th>Subscription</th>
                      <th>Country</th>
                      <th>Status</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-store>
                    <ng-container *ngFor="let branch of store.branches">
                      <tr>
                        <td>{{ branch.branch_name }}</td>
                        <td>{{ branch.devices?.length }}</td>
                        <td>{{ branch.created_at | date }}</td>
                        <td>{{ branch.activation_date | date }}</td>
                        <td>{{ branch.expiry_date | date }}</td>
                        <td>{{ branch?.mainTag.name }}</td>
                        <td>{{ branch.subTag.name }}</td>
                        <td>{{ branch.businessType.name }}</td>
                        <td>{{ branch.plan.plan_name }}</td>
                        <td>{{ branch.subscriptionType }}</td>
                        <td>{{ branch.address }}</td>
                        <td>{{ branch.status }}</td>
                      </tr>
                    </ng-container>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        There are no order for this product yet.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="totals">
      <span class="block text-500 font-medium mt-1"
        >&nbsp;Total Branches &nbsp;:&nbsp;<span>{{
          totals$?.branches
        }}</span></span
      >
      <span class="block text-500 font-medium mt-1"
        >&nbsp;Total clients &nbsp;:&nbsp;<span>{{
          totals$?.clients
        }}</span></span
      >
      <span class="block text-500 font-medium mt-1"
        >&nbsp;Total Devices &nbsp;:&nbsp;<span>{{
          totals$?.devices
        }}</span></span
      >
    </div>
    </div>
  </div>
</div>
