<div class="grid" [dir]="'dir'|translate">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-1 p-2">
                <div class="p-toolbar-group-left">
                    <p-button [label]="'new'|translate" icon="pi pi-plus" (click)="openNew()"></p-button>
                </div>
            </p-toolbar>
            <smart-table  (editClicked)="showEditDialog($event)" (deleteClicked)="deleteExpenses($event)" [data]="expensesList$|async" [columns]="tableCols" [filters]="tableFilters" [title]="tableTitle"></smart-table>
        </div>
    </div>
</div>
