<!-- <p-button class="secondary" label="Add row" (onClick)="onAddRow()"></p-button> 


<p-table [value]="card" [scrollable]="true" [resizableColumns]="true"  styleClass="p-datatable-striped" [autoLayout]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pResizableColumn pFrozenColumn  style="width:400px">{{'item_name' | translate}} </th>
      <th pResizableColumn pFrozenColumn  style="width:400px">{{'variant_code' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'attributes' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'taxes' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'serials' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'barcodes' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'scale_barcode' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'box_color' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'column_number' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'shelf_number' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'row_number' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'isbn' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'sale_item_method' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'parent_item' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'show_in_category' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'calories' | translate}} </th>
      <th pResizableColumn style="width: 200px !important;">{{'branches' | translate}} </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td pFrozenColumn  style="width:400px">{{rowData.item_name}}</td>
            <td pFrozenColumn  style="width:400px">{{rowData.item_barcode}}</td>
      <ng-container *ngFor="let input of rowData.inputs; let j = index">
        <td style="width: 200px !important;">
          <ng-container *ngIf="input.type === 'number'">
            <input pInputText [value]="input.value" [disabled]="input.disabled" class="start"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table> 


-->

<p-table [value]="itemsFormArray" [scrollable]="true" [autoLayout]="true" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th pFrozenColumn style="width: 200px !important;">{{'item_name' | translate}} </th>
      <th pFrozenColumn style="width: 200px !important;">{{'variant_code' | translate}} </th>
      <th style="width: 200px !important;">{{'attributes' | translate}} </th>
      <th style="width: 200px !important;">{{'taxes' | translate}} </th>
      <th style="width: 200px !important;">{{'serials' | translate}} </th>
      <th style="width: 200px !important;">{{'barcodes' | translate}} </th>
      <th style="width: 200px !important;">{{'scale_barcode' | translate}} </th>
      <th style="width: 200px !important;">{{'box_color' | translate}} </th>
      <th style="width: 200px !important;">{{'column_number' | translate}} </th>
      <th style="width: 200px !important;">{{'shelf_number' | translate}} </th>
      <th style="width: 200px !important;">{{'row_number' | translate}} </th>
      <th style="width: 200px !important;">{{'isbn' | translate}} </th>
      <th style="width: 200px !important;">{{'sale_item_method' | translate}} </th>
      <th style="width: 200px !important;">{{'parent_item' | translate}} </th>
      <th style="width: 200px !important;">{{'show_in_category' | translate}} </th>
      <th style="width: 200px !important;">{{'calories' | translate}} </th>
      <th style="width: 200px !important;">{{'branches' | translate}} </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td style="width: 200px !important;" pFrozenColumn>{{rowData.item_name}}</td>
      <td style="width: 200px !important;" pFrozenColumn>{{rowData.item_barcode}}</td>
      <ng-container *ngFor="let input of rowData.inputs;">
        <td style="width: 200px !important;">
          <ng-container *ngIf="input.type === 'number'">
            <input pInputText [value]="input.value"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
          </ng-container>
          <ng-container *ngIf="input.type === 'multi'">
            <p-multiSelect [options]="input.values" [selectedItems]="input.values" appendTo="body" defaultLabel="{{input.key|translate}}"
              optionLabel="name">
            </p-multiSelect>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>