<div class="grid" [dir]="'dir'|translate">
  <div class="col-12">
      <div class="card">
          <p-toolbar styleClass="mb-1 p-2">
              <div class="p-toolbar-group-left">
                  <p-button [label]="'new'|translate" icon="pi pi-plus" (click)="showAddDialog()"></p-button>
              </div>
          </p-toolbar>
          <smart-table [title]="title" (editClicked)="showEditDialog($event)" [filters]="filiterModules" [columns]="tableCols"
       (deleteClicked)="deleteModule($event)" [data]="systemModulesList$|async">
    </smart-table>
      </div>
  </div>
</div>
<p-toast></p-toast>
